@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');



:root {
    --color-cream:hsl(30, 38%, 92%);
    --color-darkcyan: hsl(158, 36%, 37%);
    --color-verydarkblue:hsl(213, 24%, 19%);
    --color-darkgrayishblue:hsl(228, 12%, 48%);
    

    --default-font:'Montserrat', sans-serif;
    --highlight-font:'Fraunces', serif;
}


body {
    background-color: var(--color-cream);
}

img {
    width: 100%;
    border-top-left-radius: 3%; 
    border-top-right-radius: 3%;
    
  
}


main {
    background-color: white;
    max-width:900px;
    border-radius: 3%;
        
}

article {
    padding: 4%;
}

h1 {
    font-family: var(--highlight-font);
    color: var(--color-verydarkblue);
    font-size: 2em;
    line-height: 1em;
    
}

h2 {
    font-family: var(--default-font);
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 0.2em;
    color: var(--color-darkgrayishblue);
    margin: 0 auto;
}

article p {
    font-family: var(--default-font);
    color: var(--color-darkgrayishblue);
    line-height: 1.5em;
}

div.price {
    display: inline-block;
    margin: 0.5em;
}

div#price1 {
    font-family: var(--highlight-font);
    color:var(--color-darkcyan);
    font-size: 2em;
}

div#price2 {
    font-size: 1em;
    padding-left: 5px;
    color: var(--color-darkgrayishblue);
    text-decoration-line: line-through; 
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    bottom: 0.3rem;
   
    
}
.btn{
    border-radius: 10px;
    font-family: var(--default-font);
    font-weight: bolder;
    color: white;
    font-size: 15px;
    background: var(--color-darkcyan);
    padding: 12px 52px 12px 52px;
    text-decoration: none;
    display: flex;  
    justify-content: center;
}

.btn-img{
    margin-right: 10px;
    width: auto;
}

.buyit a:hover {
    background-color: hsl(158, 43%, 70%);
    
}

footer {
    background-color: var(--color-verydarkblue);
    color: white;   
    text-align: center;
    font-size: 0.8em;
    padding:  2px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
footer a {
    color: var(--color-darkcyan);
    font-weight:  bolder;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
    color: var(--color-cream);
}

@media only screen and (max-width:768px){
    /*For Mobile phones: */
    main {
        width: 100%;
        height: auto; 
    }
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    main {
        margin: 3% auto;
        
    }    
        
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    main {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        
     
        
        
    }
    img {
        border-bottom-left-radius: 3%;
        border-top-right-radius: 0%;
        width: 100%;
        
    }
    h1 {
        font-size: 3em;
        padding: 0px 0px 0px 20px;
        
    }
    h2 {
        padding: 20px 20px 0px 20px;
        font-size: 1.1em;

    }
    article p {
        font-size: 1.2em;
        padding: 0px 0px 0px 20px;
    }
    div#price1 {
        font-size: 3em;
    }
    div#price2 {
        font-size: 1.3em;
    }
    .btn{
        font-size: 1.2em;    
        margin: 30px; 
        padding: 20px;
    }
    
    .btn-img{
        margin-right: 10px;
        width: 8%;
    }
    
    .buyit a:hover {
        background-color: hsl(158, 43%, 70%);
        
    }


}

/* acertar para desktop */